# .github/workflows/test.yml
name: Run Tests

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        working-directory: ./server
        run: docker compose build

      - name: Run pytest
        working-directory: ./server
        run: docker compose run --rm app pytest
